.navbar-container(ng-controller="NavController")
  .navbar.navbar-default.orange-background
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.icon-bar

          span.icon-bar

          span.icon-bar
        a.navbar-brand(href='javascript:void(0)') Your Amazing App
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
          li.active
            a(href='javascript:void(0)') Some tab
